.card-rooteasy{
    @apply
    rounded-xl
    pt-4
    px-3
    flex
    items-start
    justify-start
    flex-col
    gap-y-3
    border
    border-gray-light
    cursor-pointer
    min-h-[108px]
    w-full
    max-w-[138px]
    mx-auto
    duration-300
}

.card-rooteasy[data-select="true"]{
    @apply
    bg-green-100
    border-green-200
}

.card-rooteasy li{
    @apply
    text-2xl
}