main{
  @apply h-screen flex items-center justify-center
}
.form{
  @apply flex flex-col items-center justify-center gap-10;
}

/*.form-login{*/
/*  @apply flex flex-col items-center gap-10;*/
/*}*/
/*.form-country{*/
/*  @apply flex flex-col items-center gap-10;*/
/*}*/
/*.form-parents{*/
/*  @apply flex flex-col items-center gap-10;*/
/*}*/

.form-tree{
  @apply w-[400px];
}

.form-group{
  @apply flex gap-3;
}

.input-wrapper{
  @apply flex flex-col w-full gap-1 justify-between ;
}

.input-gender{
  @apply flex gap-3;
}
.form-control{
  @apply border px-3 py-1;
}

.container-wrapper{
  @apply flex justify-between w-full gap-3;
}

.sujeito-confirm{
  @apply flex justify-around mt-5 gap-3;
}

.custom-radio{
  @apply flex items-center gap-3;
}

.custom-radio input[type="radio"]{
  @apply w-4 h-4 bg-center rounded-full p-0 bg-transparent border inline-block align-middle appearance-none;
  content: "";
}

.custom-radio input[type="radio"]:checked{
  @apply bg-cover bg-no-repeat box-border border-2 p-1;
}

#brazil:checked{
  background-image: url("/images/brasil.png");
}

#italy:checked{
  background-image: url("/images/italia.png");
}

#france:checked{
  background-image: url("/images/franca.png");
}

.btn-confirm{
  @apply bg-blue-500 w-full py-1 rounded-sm text-center text-white;
}

.btn-secondary{
  @apply bg-white border-purple-500 border w-full py-1 rounded-sm text-center;
}
